

.image-card-list{
    display: flex;
    flex-direction: column;
}

.image-content{
    text-align: left;
}

.image-card{
    background-color: white;
    margin-left: 1em;
    box-shadow: 0.1em 0.05em 0.5em 0.1em gray;
    height:7rem;
    margin-top: 2em;
}

.image-block{
    height:4rem;
    width:4rem;
    background-color: grey;
    margin-top: 1em;

}

.image-title{
    text-align: left;
    /* display: inline; */
    margin-left: 5.5em;
    margin-top: -3em;;
}

.image-description{
    text-align: left;
    margin-left: 8.3em;
}

.image-radio-btn{
    display: flex;
    flex-direction: column;
}


.select-button{
    background-color: blue;
    color: white;
    float:right;
    height: 2.5em;
    width: 8em;
    border: none;
    border-radius: 0.2em;
    margin-right: 3em;
    font-weight: 600;
    font-size: 0.8em;
    /* margin-bottom: 4em; */
    /* align-self: flex-end; */
}

.radio-btn{
    margin-top: 0.1rem;
}

.image-name{
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
margin-top: 1rem;
}
.select-btn{
    background: #007EFF;
    box-shadow: 0px 8px 16px rgba(0, 126, 255, 0.16);
    border-radius: 8px;
    padding-top: 0rem;
    width: 7rem;
    margin-top: 1rem;
}
.radio-label{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.radio-btns{
    margin-top: 1rem;
}
