.select{
    width: 18rem;
}

.cpu-core-select{
    margin-right: 5rem;
}
.select-menu-title{
    text-align: left;
    width: 16rem;
    height: 2.4rem;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.2rem;
    color: #000000;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav-button,.back,.proceed{
background: #FFFFFF;
border: 2px solid #007EFF;
box-sizing: border-box;
border-radius: 6px;
margin-left: 1rem;
}
.select-menus{
margin-left: 1rem;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}
.back{
    margin-right: 0.5rem;
    background: #E5E5E5;
}
.proceed{
    background:blue;
}

